extends layout

block content
  div(class="container")
    header(class="major")
      h2= title
  div(class="container")
    form(action='/add-ingredients', method='post')
      each recipe in recipes
        h2 #{recipe.name}
        div(class="indent")
          ul(class="alt")
            -var ingredients = recipe.ingredients.split(",");
            -for (var i = 0; i < ingredients.length; i++) {
              li
                input(type="checkbox", id="#{ingredients[i]} (#{recipe.name})", name="#{ingredients[i]} (#{recipe.name})")
                label(for="#{ingredients[i]} (#{recipe.name})") #{ingredients[i]}
            -}
      input(type='submit', value='Add Ingredients')