extends header

block content
  script.
    var toggle = function(divId, isChecked) {
      var checkboxes = document.querySelectorAll('#' + divId + ' input[type="checkbox"]');

      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = isChecked;
      }
    }
  div(class="container heading")
    header(class="major")
      h2= title
  div(class="container user-input")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    div(class="padding-top")
      if categoryRecipes == null
        header(class='major')
          p
            | There are currently planned meals. Go ahead and 
            a(href="/calendar") plan some
            | .
      else
        form(action='/add-ingredients', method='post')
          each recipe in recipes
            h2 #{recipe.name}
            input(type="checkbox", id="#{recipe.recipeId}_select", onClick='toggle("div" + "#{recipe.recipeId}", this.checked)')
            label(for="#{recipe.recipeId}_select") Select All
            div(class="indent", id="div" + "#{recipe.recipeId}")
              ul(class="alt")
                -var ingredients = recipe.ingredients.split(",");
                -for (var i = 0; i < ingredients.length; i++) {
                  li
                    input(type="checkbox", id="#{i}_#{recipe.recipeId}", name="#{ingredients[i]} (#{recipe.name})")
                    label(for="#{i}_#{recipe.recipeId}") #{ingredients[i]}
                -}
          input(type='submit', value='Add Ingredients')