extends header

block content
  link(href='/stylesheets/dragula.css', rel='stylesheet')
  script(src="/javascripts/dragula.min.js")
  script(src="/javascripts/initDragula.js")

  -var daysOfTheWeek = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"];

  div(class="container")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
  div(class="padding-top")
    form(id="calendar-form", action='/calendar', method='post')
      -for (var i = 0; i < daysOfTheWeek.length; i++) {
        div(id="#{daysOfTheWeek[i]}", class="calendar")
          h2 #{daysOfTheWeek[i]}
          div(id="#{i}0", class=(calendarDayAndRecipeMap[i + "0"] != null ? "meal" : "meal accept"))
            | Breakfast
            if calendarDayAndRecipeMap[i + "0"] != null
              label(class="padding-top", id="#{calendarDayAndRecipeMap[i + '0'][0]}")
                | #{calendarDayAndRecipeMap[i + "0"][1]}
          div(id="#{i}1", class=(calendarDayAndRecipeMap[i + "1"] != null ? "meal" : "meal accept"))
            | Lunch
            if calendarDayAndRecipeMap[i + "1"] != null
              label(class="padding-top", id="#{calendarDayAndRecipeMap[i + '1'][0]}")
                | #{calendarDayAndRecipeMap[i + "1"][1]}
          div(id="#{i}2", class=(calendarDayAndRecipeMap[i + "2"] != null ? "meal" : "meal accept"))
            | Dinner
            if calendarDayAndRecipeMap[i + "2"] != null
              label(class="padding-top", id="#{calendarDayAndRecipeMap[i + '2'][0]}")
                | #{calendarDayAndRecipeMap[i + "2"][1]}
      -}
      input(class="padding-top", type='submit', value='Submit Calendar')
    h2(class="padding-top") Recipes
    div(id="recipes", class="recipes")
      for recipe in recipes
        label(class="padding-top", id="#{recipe.recipeId}")
          | #{recipe.name}