extends header

block content
  link(href='/stylesheets/dragula.css', rel='stylesheet')
  script(src="/javascripts/dragula.min.js")
  script(src="/javascripts/initDragula.js")
  script(src="/javascripts/realtime_search.js")

  div(class="container")
    header(class="major")
      h2= title
  div(class="container")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    div(class="padding-top")
      form(id="calendar-form", action='/calendar', method='post')
        table(class="rtable")
          tr
            th
            th Sunday
            th Monday
            th Tuesday
            th Wednesday
            th Thursday
            th Friday
            th Saturday
          tr
            td Breakfast
            -for (var j = 0; j < 7; j++) {
              td(id="#{j}0", class=(calendarDayAndRecipeMap["" + j + 0] != null ? "" : "accept"))
                if calendarDayAndRecipeMap["" + j + 0] != null
                  label(class="padding-top", id="#{calendarDayAndRecipeMap['' + j + 0][0]}")
                    | #{calendarDayAndRecipeMap["" + j + 0][1]}
            -}
          tr
            td Lunch
            -for (var j = 0; j < 7; j++) {
              td(id="#{j}1", class=(calendarDayAndRecipeMap["" + j + 1] != null ? "" : "accept"))
                if calendarDayAndRecipeMap["" + j + 1] != null
                  label(class="padding-top", id="#{calendarDayAndRecipeMap['' + j + 1][0]}")
                    | #{calendarDayAndRecipeMap["" + j + 1][1]}
            -}
          tr
            td Dinner
            -for (var j = 0; j < 7; j++) {
              td(id="#{j}2", class=(calendarDayAndRecipeMap["" + j + 2] != null ? "" : "accept"))
                if calendarDayAndRecipeMap["" + j + 2] != null
                  label(class="padding-top", id="#{calendarDayAndRecipeMap['' + j + 2][0]}")
                    | #{calendarDayAndRecipeMap["" + j + 2][1]}
            -}
        input(type='submit', name='action', value='Submit Calendar')
        input(class="delete-button", name='action', type='submit', value='Clear Calendar')
      div(id="recipes", class="recipes")
        input(type="text", id="searchInput", onkeyup="realtimeSearch()" placeholder="Search for recipes")
        -for (var categoryRecipe in categoryRecipes)
          h3 #{categoryRecipe}
          -for (var i = 0; i < categoryRecipes[categoryRecipe].length; i++) {
            label(class="draggable indent padding-top", id="#{categoryRecipes[categoryRecipe][i].recipeId}")
              | #{categoryRecipes[categoryRecipe][i].name}
          -}