extends header

block content
  link(href='/stylesheets/dragula.css', rel='stylesheet')
  script(src="/javascripts/dragula.min.js")
  script(src="/javascripts/initDragula.js")
  script(src="/javascripts/realtime_search.js")

  div(class="container")
    header(class="major")
      h2= title
  div(class="container")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    div(class="padding-top")
      form(id="calendar-form", action='/calendar', method='post')
        table(class="rtable")
          tr
            th
            th Sunday
            th Monday
            th Tuesday
            th Wednesday
            th Thursday
            th Friday
            th Saturday
          tr
            td Breakfast
            -for (var i = 0; i < 7; i++) {
              td(id="#{i}0", class="accept-container")
                if calendarDayAndRecipeMap["" + i + 0] != null
                  -for (var j = 0; j < calendarDayAndRecipeMap["" + i + 0].length; j++) {
                    label(class="draggable padding-top", id="#{calendarDayAndRecipeMap['' + i + 0][j][0]}")
                      | #{calendarDayAndRecipeMap["" + i + 0][j][1]}
                  -}
            -}
          tr
            td Lunch
            -for (var i = 0; i < 7; i++) {
              td(id="#{i}1", class="accept-container")
                if calendarDayAndRecipeMap["" + i + 1] != null
                  -for (var j = 0; j < calendarDayAndRecipeMap["" + i + 1].length; j++) {
                    label(class="draggable padding-top", id="#{calendarDayAndRecipeMap['' + i + 1][j][0]}")
                      | #{calendarDayAndRecipeMap["" + i + 1][j][1]}
                  -}
            -}
          tr
            td Dinner
            -for (var i = 0; i < 7; i++) {
              td(id="#{i}2", class="accept-container")
                if calendarDayAndRecipeMap["" + i + 2] != null
                  -for (var j = 0; j < calendarDayAndRecipeMap["" + i + 2].length; j++) {
                    label(class="draggable padding-top", id="#{calendarDayAndRecipeMap['' + i + 2][j][0]}")
                      | #{calendarDayAndRecipeMap["" + i + 2][j][1]}
                  -}
            -}
        input(type='submit', name='action', value='Submit Calendar')
        input(class="delete-button", name='action', type='submit', value='Clear Calendar')
      div(id="recipes", class="recipes")
        input(type="text", id="searchInput", onkeyup="realtimeSearch()" placeholder="Search for recipes")
        -for (var categoryRecipe in categoryRecipes)
          div(id="#{categoryRecipe}", class="source-container")
            h3 #{categoryRecipe}
            -for (var i = 0; i < categoryRecipes[categoryRecipe].length; i++) {
              label(class="draggable indent padding-top", id="#{categoryRecipes[categoryRecipe][i].recipeId}")
                | #{categoryRecipes[categoryRecipe][i].name}
            -}