extends layout

block content
  div(class="container")
    header(class="major")
      h2= title
  div(class="container")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    div(class="padding-top")
      form(action='/edit-category', method='post')
        input(type="hidden", name="categoryId", value="#{categoryId}")
        | Category Name:
        input(type="text", name="name", value="#{name}", required)
        br
        input(type='submit', name='action', value='Edit Category')
        input(type='submit', class="delete-button", name='action', value='Delete Category')