extends header

block content
  div(class="container")
    header(class="major")
      h2= title
  div(class="container user-input")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    div(class="padding-top")
      form(action='/update-email', method='post')
        h3
          | Update Email
        | Email Address:
        input(type="email", name="emailAddress", value="#{user.emailAddress}", required)
        input(type='submit', name='action', value='Update Email')
      form(action='/update-password', method='post')
        h3
          | Update Password
        | Current Password:
        input(type="password", name="currentPassword", required)
        | New Password:
        input(type="password", name="newPassword", required)
        input(type='submit', name='action', value='Update Password')
      form(action='/update-calendar', method='post')
        h3
          | Update Calendar
        | Choose which meals you wish to have displayed on the calendar.
        br
        br
        input(type='checkbox', id='displayBreakfast', name='displayBreakfast', checked='#{displayBreakfast}' > 0)
        label(for='displayBreakfast') Breakfast
        br
        input(type='checkbox', id='displayLunch', name='displayLunch', checked='#{displayLunch}' > 0)
        label(for='displayLunch') Lunch
        br
        input(type='checkbox', id='displayDinner', name='displayDinner', checked='#{displayDinner}' > 0)
        label(for='displayDinner') Dinner
        br
        input(type='submit', value='Update Calendar')
      form(action='/todoist', method='post')
        h3
          | Todoist
        | Got a new Todoist account or lost the old to-do list? Reconnect!
        br
        input(type='submit', value='Connect With Todoist')
      form(action='/wunderlist', method='post')
        h3
          | Wunderlist
        | Got a new Wunderlist account or lost the old to-do list? Reconnect!
        br
        input(type='submit', value='Connect With Wunderlist')