extends header

block content
  div(class="container")
    header(class="major")
      h2= title
  div(class="container")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if infoMessage && infoMessage.length
      div(class="info")
        | #{infoMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    div(class="padding-top")
      if categoryRecipes == null
        header(class='major')
          p
            | There are currently no recipes to display. Go ahead and 
            a(href="/add-recipe") add some
            | .
      else
        form(action='/plan-meals', method='post')
          -for (var categoryRecipe in categoryRecipes)
            h2 #{categoryRecipe}
            div(class="indent")
              ul(class="alt")
                -for (var i = 0; i < categoryRecipes[categoryRecipe].length; i++) {
                  li
                    input(type="checkbox", id="#{categoryRecipes[categoryRecipe][i].recipeId}", name="#{categoryRecipes[categoryRecipe][i].recipeId}")
                    label(for="#{categoryRecipes[categoryRecipe][i].recipeId}") #{categoryRecipes[categoryRecipe][i].name}
                -}
          input(type='submit', value='Plan Meals')