extends header

block extraScripts
  script(src="https://checkout.stripe.com/checkout.js")
block content
  div(class="container heading")
    header(class="major")
      h2= title
  div(class="container 50%")
    div(class="row")
      div(class="6u")
        a(href="/my-account")
          | Account Settings
      div(class="6u", style="text-align: right")
        a(href="/subscription")
          | Subscription Settings
  div(class="container user-input")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    div(class="info")
      | #{subscriptionInformation}
    if !isReceivingDiscount
      div(class="padding-top")
        h3
          | Billing
        div(class="indent")
          if !user.customerId || !user.subscriptionId
            form(action='/add-subscription', id='addSubscriptionForm', method='post')
              h5
                | Subscribe
              p
                | Subscribe today
              input(class="button", id='addSubscriptionButton', type='submit', value='Subscribe')
          else if isSubscriptionActive && !isPendingCancellation
            form(action='/update-card', id='updateCardForm', method='post')
              h5
                | Update
              p
                | Your new credit card details will be used for the next billing period.
              input(class="button", id='updateCardButton', type='submit', value='Update Card Details')
          else
            form(action='/update-subscription', id='updateSubscriptionForm', method='post')
              h5
                | Subscribe
              if isPendingCancellation
                p
                  | Sign up for a subscription today to continue using this site. Note that you will not be charged until the next normal billing period.
              else
                p
                  | Sign up for a subscription today to continue using this site. Note that you will be charged immediately.
              input(class="button", id='updateSubscriptionButton', type='submit', value='Subscribe')
          if isSubscriptionActive && !isPendingCancellation
            form(action='/cancel-subscription', method='post')
              h5
                | Cancel
              p
                | After cancelling, your subscription will end at the end of the current billing cycle, allowing you full access to the site until that time. Once cancelled, you will not be charged again.
              input(class="delete-button", type='submit', value='Cancel Subscription')
      script.
        var addSubscriptionButton = document.getElementById("addSubscriptionButton");
  
        if (addSubscriptionButton) {
          var addSubscription = StripeCheckout.configure({
            allowRememberMe: false,
            amount: 100,
            description: "Subscription ($1.00 per month)",
            email: "#{user.emailAddress}",
            key: "#{publishableKey}",
            locale: "auto",
            name: "Quick Meal Planner",
            panelLabel: "Subscribe {{amount}}",
            zipCode: true,
            token: function (token) {
              var addSubscriptionForm = $('#addSubscriptionForm');
  
              addSubscriptionForm.append($('<input id="stripeToken" name="stripeToken" type="hidden">').val(token.id));
  
              addSubscriptionForm.submit();
            }
          });
  
          addSubscriptionButton.addEventListener("click", function (e) {
            addSubscription.open({
              email: "#{user.emailAddress}"
            });
  
            e.preventDefault();
          })
        }
  
        var updateCardButton = document.getElementById("updateCardButton");
  
        if (updateCardButton) {
          var updateCard = StripeCheckout.configure({
            allowRememberMe: false,
            email: "#{user.emailAddress}",
            key: "#{publishableKey}",
            locale: "auto",
            name: "Quick Meal Planner",
            panelLabel: "Update Card Details",
            zipCode: true,
            token: function (token) {
              var updateCardForm = $('#updateCardForm');
  
              updateCardForm.append($('<input id="stripeToken" name="stripeToken" type="hidden">').val(token.id));
  
              updateCardForm.submit();
            }
          });
  
          updateCardButton.addEventListener("click", function (e) {
            updateCard.open({
              email: "#{user.emailAddress}"
            });
  
            e.preventDefault();
          })
        }
  
        var updateSubscriptionButton = document.getElementById("updateSubscriptionButton");
  
        if (updateSubscriptionButton) {
          var updateSubscription = StripeCheckout.configure({
            allowRememberMe: false,
            amount: 100,
            description: "Subscription ($1.00 per month)",
            email: "#{user.emailAddress}",
            key: "#{publishableKey}",
            locale: "auto",
            name: "Quick Meal Planner",
            panelLabel: "Subscribe {{amount}}",
            zipCode: true,
            token: function (token) {
              var updateSubscriptionForm = $('#updateSubscriptionForm');
  
              updateSubscriptionForm.append($('<input id="stripeToken" name="stripeToken" type="hidden">').val(token.id));
  
              updateSubscriptionForm.submit();
            }
          });
  
          updateSubscriptionButton.addEventListener("click", function (e) {
            updateSubscription.open({
              email: "#{user.emailAddress}"
            });
  
            e.preventDefault();
          })
        }