extends header

block content
  script(src="/javascripts/realtime_search.js")

  div(class="container heading")
    header(class="major")
      h2= title
  div(class="container")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    div(class="padding-top row")
      div(class="6u")
        form(action='/add-category', method='post')
          | Category Name:
          input(type="text", name="name", value="#{categoryName}", autofocus, required)
          br
          input(type='submit', value='Add Category')
      div(class="6u")
        if categories.length == 0
          header(class='major')
            p
              | There are currently no categories to display. Go ahead and add some!
        else
          | Search for Categories:
          input(type="text", id="searchInput", onkeyup="realtimeCategorySearch()")
          div(class="indent padding-top", id="search")
            ul(class="alt")
              each category in categories
                li: a(href="/edit-category/#{category.categoryId}") #{category.name}