extends layout

block content
  div(class="container")
    header(class="major")
      h2= title
  div(class="container")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    div(class="padding-top")
      form(action='/add-category', method='post')
        | Category Name:
        input(type="text", name="name", autofocus, required)
        br
        input(type='submit', value='Add Category')
      if categories.length == 0
        header(class='major')
          p
            | There are currently no categories to display. Go ahead and add some!
      else
        div(class="indent")
          ul(class="alt")
            each category in categories
              li: a(href="/edit-category/#{category.categoryId}") #{category.name}