extends header

block content
  div(class="container")
    header(class="major")
      h2= title
  div(class="container")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    div(class="padding-top")
      form(action='/add-assorted', method='post')
        | Assorted Item:
        input(type="text", name="itemName", autofocus, required)
        br
        input(type='submit', value='Add Assorted Item')
      if assortedItems.length == 0
        header(class='major')
          p
            | There are currently no assorted items to display. Go ahead and add some!
      else
        div(class="indent")
          ul(class="alt")
            each assortedItem in assortedItems
              li: a(href="/edit-assorted/#{assortedItem.assortedId}") #{assortedItem.itemName}