extends header

block content
  div(class="container")
    header(class="major")
      h2= title
  div(class="container")
    if errorMessage && errorMessage.length
      div(class="error")
        | #{errorMessage}
    if successMessage && successMessage.length
      div(class="success")
        | #{successMessage}
    div(class="padding-top row")
      div(class="6u")
        form(action='/add-recipe', method='post')
          | Recipe Name:
          input(type="text", name="name", autofocus, required)
          br
          | Recipe Category:
          select(class="dropdown" name = "category")
            for category in categories
              option(value = category.categoryId + "," + category.name) #{category.name}
          br
          | Recipe Ingredients:
          textarea(name="ingredients", rows="5", required)
          br
          input(type='submit', value='Add Recipe')
      div(class="6u")
        if categoryRecipes == null
          header(class='major')
            p
              | There are currently no recipes to display. Go ahead and add some!
        else
          -for (var categoryRecipe in categoryRecipes)
            h2 #{categoryRecipe}
            div(class="indent")
              ul(class="alt")
                -for (var i = 0; i < categoryRecipes[categoryRecipe].length; i++) {
                  li: a(href="/edit-recipe/#{categoryRecipes[categoryRecipe][i].recipeId}") #{categoryRecipes[categoryRecipe][i].name}
                -}